* {box-sizing: border-box;}

.calculator { 
    border: 2px solid black;
    width: 400px;
    height: 500px;
    position: relative;
    left: 500px;
    border-radius: 10px;
}

input {
    height: 60px;
    width: 300px;
    position: absolute; 
    top: 10px;
    left: 50px;
    border: 3px solid black;
    font-size: 2em;
    border-radius: 20px;
}

button { 

border-radius: 20px;
padding: 35px

}

.buttons{
    position: absolute;
    top: 100px;
    left: 30px
}
